@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "custom-font";
  src:
    url("//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2")
      format("woff2"),
    url("//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "custom-font";
}
